* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    background-color: #808080;
    margin: auto;
    /* FLEX */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body {
    background-color: #fffff0;
}

header {
    background-color: black;
    width: 100%;
    padding: 20px;
    /* FLEX */
    display: flex;
    /*en todos los elementos que queremos que sea padre*/
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}


/*header .logo {
    color: #FFFFFF;
    text-decoration: none;
    line-height: 50px;
    
}*/

header .logo {
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

header nav {
    width: 50%;
    /* FLEX */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav a {
    background: #505050;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    /* FLEX */
    flex-grow: 1;
}

header nav a:hover {
    color: #000000;
    background: #eabf9f;
    transform: translateY(-5px);
}

header nav a.current {
    color: #000000;
    background-color: #eabf9f;
    transform: none;
}

.main {
    background-color: #faf3e0;
    padding: 20px;
    /*flex: 1 1 70%;*/
    flex: 1;
}

.main article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    box-shadow: 25px 0px 40px #5c5c5c; /*ejeX ejeY blur color*/
    background-color: #E6E6E6;
}


article.art1 {
    padding-top: 20px;
    /* FLEX */
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

article .textoArt1 {
    width: 50%;
    /* FLEX */
    display: flex;
    flex-wrap: wrap;
}

article h2 {
    /* color: #000000; */
    color: brown;
    padding-bottom: 20px;
}

article .sliderImagenes {
    border: 2px solid #2A0A0A;
    width: 300px;
    height: 400px;
}

/* .main article:nth-last-child(1) {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
} */


.main article.art2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main article.art2 h2 {
    padding: 15px;
    width: 100%;
    text-align: center;
}

.main article.art2 ul {
    display: flex;
    flex-direction: column;
}

.main article.art2 ul li {
    margin: 0 20px;
    transition: 0.5%;
}

.main article.art2 ul li p {
    display: block;
    position: relative;
    padding: 5px;
    transition: 0.5s;
}

.main article.art2 ul:hover li p {
    transform: scale(1.5);
    opacity: .2;
    filter: blur(5px);
}

.main article.art2 ul li p:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}


.main article.art3 {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.main article.art3 .mapa {
    padding: 15px;
}

.main article.art3 .contacto {
    background-color: #eabf9f;
    color: #000000;
    box-shadow: 20px 10px 20px rgba(92, 92, 92, 0.3);
    padding: 20px ;
    margin: 20px;
    width: 30%;
    text-align: center;
}

.main article.art3 .contacto p {
    margin: 20px 0;
}

.main article.art3 .contacto .redes img{
    width: 60px;
    height: 60px;
    margin: 0 10px;
    
}

.main article.art3 .contacto .redes img:hover {
    transform: scale(1.2);

}

aside {
    background-color: #eabf9f;
    padding: 20px;
    /* FLEX */
    display: flex;
    /*flex: 1 1 30%;*/
    flex: 0 0 200px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

aside .horarioAtencion {
    border: 1px solid #000000;
    padding: 5px 1px;
    margin: 1px;
}

aside p {
    text-align: center;
    margin-bottom: 10px;
}

aside .horario {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    font-size: 18px;
}

aside .horas {
    text-align: center;
    font-size: 25px;
}

aside .dias {
    font-size: 18px;
}

footer {
    width: 100%;
    padding: 15px;
    /* FLEX */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

footer p {
    width: 125px;
    text-align: center;
    color: #000000;
}

@media screen and (max-width: 800px) {
    .contenedor {
        flex-direction: column;
    }
    body {
        background-color: red;
    }
    header {
        padding: 0px;
        flex-direction: column;
    }
    header nav {
        width: 100%;
    }
}